@import "tailwindcss";

@theme{
  --font-epilogue: "Epilogue";
  --font-dm-sans: "DM Sans";

  --color-greytext:#9B9A95;

  --color-primary: #51a3a3;
  --color-accent: #c2e812;
  --color-secondary: #75485e;
  --color-warm: #cb904d;
  --color-highlight: #f98948;

  --color-global:#928F8D;

  --bg: rgb(10,10,11) ;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background: var(--color-primary); border-radius: 2px; }

.animatedCARD::before{
  content: "";
  transition: all 500ms ease-in-out;
  margin-inline: 2px;
  z-index: -1;
  position: absolute;
  inset: 0px;
  width: 0;
  height: 5px;
  border-radius: var(--radius-2xl) var(--radius-2xl) 0px 0px;
  background-image: linear-gradient(to right,var(--color-primary),var(--color-accent));
  transform: translateY(-2px);
}

.animatedCARD:hover::before{
  width: 98%;
}

.nav-tag::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: all 200ms ease-out;
  transform: translateY(4px);
  background-image: linear-gradient(to right, var(--color-primary),var(--color-accent));
}
.nav-tag:hover::after{
  width: 100%;
}